---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { databaseService } from "@/api/DatabaseService";

const { recipeSlug } = Astro.params;
const recipe = await databaseService.findRecipeBySlug(String(recipeSlug));

if (recipe.total === 0) {
  return Astro.redirect("/404");
}
---

<BaseLayout>
  <div
    class="parent"
    data-steps={recipe.Steps}
    data-ingredients={recipe.Ingredients}
  >
  </div>

  <script>
    import { renderRecipeGrid } from "../../app/main";

    const container = document.querySelector(".parent") as HTMLDivElement;
    if (!container) {
      console.error('Recipe container not found');
      throw new Error('Recipe container not found');
    }

    const steps = container.dataset.steps;
    const ingredients = container.dataset.ingredients;

    if (!steps || !ingredients) {
      console.error('Recipe data not found');
      throw new Error('Recipe data not found');
    }

    renderRecipeGrid(steps, ingredients);
  </script>
</BaseLayout>
