---
import { databaseService } from "@/api/DatabaseService";
import BaseLayout from "@/layouts/BaseLayout.astro";

const recipes  = await databaseService.getAllRecipes();
---

<BaseLayout>
  <h1 class="text-4xl font-bold mb-8">All Recipes</h1>
  <ul class="space-y-8">
    {
      recipes.map((recipe) => {
        return (
          <li class="border-b border-gray-200 pb-8 last:border-b-0">
            <h2 class="text-2xl font-semibold mb-4">
              <a
                href={`/recipes/${recipe.Slug}`}
                class="hover:text-blue-500 transition-colors duration-200"
              >
                {recipe.Title}
              </a>
            </h2>
            <p class="text-sm text-gray-500 mb-4">
              Added on {new Date(recipe.$createdAt).toLocaleDateString()}
            </p>
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
